@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/static/Oswald-Light.ttf');
}
*{
    box-sizing: border-box;
}

:root {
    --main-bg-color: #0b0c10;
    --muted-bg-color: #1f2833;
    --main-accent-color: #66fcf1;
    --muted-accent-color: #45a29e;
    --main-font: #c5c6c7;
    --alt-font: white;
}

@media all and (width > 600px){

    .form-card{
        min-width: 550px;
        max-width: 850px;
    }

    .genre-checkboxes-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 2px;
    }

    .provider-checkboxes-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 10px;
    }

    .movie-card {
        width: 500px;
    }
}

@media all and (width <= 600px){

    .genre-checkboxes-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2px;
    }

    .provider-checkboxes-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 6px;
    }

    .form-card {
        width: 90vw;
    }

    .tab {
        display: flex;
        align-items: flex-end;
    }

    .provider {
        align-self: center;
        justify-self: center;
    }

    .movie-card {
        width: 90vw;
    }

}


html {
    height: 100vh;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    gap: 40px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald';
    background-color: var(--main-bg-color);
}

.header {
    display: flex;
    justify-content: space-between;
    grid-column-start: span 3;
    height: 100px;
    background-color: var(--main-bg-color);
    color: var(--main-font);
    padding-left: 10px;
}

.header-logo {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.movie-card {
    background-color: var(--muted-bg-color);
    padding: 6px;
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 8px black;
    color: var(--main-font)
}

.form-card {
    box-shadow: 2px 10px 15px black;
}

.tabs-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 8px 8px 0px 0px;
    background-color: var(--muted-accent-color);
}

.tab {
    display: flex;
    justify-content: center;
    padding: 8px;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-weight: bolder;
}

.tab:hover:not(.active-tab) {
    color: var(--main-accent-color);
}

.genres-tab {
    border-right: 1px solid black;
    border-radius: 8px 0px 0px 0px;
}

.rating-popularity-tab{
    border-left: 1px solid black;
    border-radius: 0px 8px 0px 0px;
}

.active-tab {
    background-color: var(--muted-bg-color);
    border-bottom: none;
    color: var(--main-accent-color);
}

.tabs-body{
    background-color: var(--muted-bg-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
}

.tab-title{
    align-self: center;
    font-size: 20px;
    color: var(--alt-font);
}

.genre-tab-container, .provider-tab-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px 20px 10px 20px;
    gap: 10px;
}

.genre-checkboxes-container, .provider-checkboxes-container {
    border: 2px solid black;
    border-radius: 8px;
    background-color: var(--main-bg-color);
    padding: 10px;
    color: var(--main-font);
}


.toggle-btns {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.unchecked:hover {
    color: var(--main-accent-color);
}

.services {
    display: flex;
}

.streamer-logo {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

.provider-selection {
    display: flex;
    flex-direction: column;
}

.provider > img {
    height: 50px;
    width: 50px;
    border-radius: 8px;
    opacity: 0.3;
}

img.checked {
    outline: 3px solid var(--main-accent-color);
    opacity: 1;
}

.form-button {
    width: 200px;
    justify-self: center;
    font-size: large;
}

.placeholder {
    grid-column-start: 2;
}

.movie-card-header {
    display: flex;
    justify-content: space-between;
}

.poster-description-container {
    display: flex;
}

.movie-card-top-panel {
    display: flex;
}

.movie-card-top-panel > img {
    height: 200px;
    width: 150px;
    align-self: center;
    border: 1px solid black;
}

.movie-card-top-and-middle  {
    border-bottom: 1px solid black;
    padding: 6px;
}
.movie-card-middle-panel {
    display: flex;
    justify-content: space-between;
}

.movie-card-bottom-panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.title-rating-description {
    padding: 6px;
}

.title-rating {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
}

.movie-card-rating {
    display: flex;
    align-items: flex-end;
}

.movie-title {
    font-weight: bolder;
    font-size: larger;
    color: var(--alt-font);
}

.movie-description {
    padding: 6px;
}

.middle-panel-left {
    color: var(--muted-accent-color);
}

.movie-panel-right {
    display: flex;
    gap: 3px;
    align-items: flex-end;
    color: var(--muted-accent-color);
}

.movie-info {
    padding-top: 3px;
}

.streaming-services {
    display: flex;
}

.movie-subscription-services {
    display: flex;
    align-items: center;
    gap: 6px;
    border-bottom: 1px solid black;
    padding: 3px;
}

.rating-popularity-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--alt-font)
}

.rating-popularity-container > div {
    display: flex;
    gap: 6px;
}

.movie-card-bottom-panel > div > ul {
    display: flex;
    justify-content: center;
    gap: 3px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    grid-column-start: span 3;
    height: 60px;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: var(--main-bg-color);
    color: var(--main-font);
    font-size: smaller;
}

.footer > div {
    display: flex;
    gap: 30px;
}

div.checked {
    background-color: var(--muted-accent-color);
    transition: .2s;
    color: var(--main-bg-color);
}

.header-text {
    font-size: 3rem;
    justify-self: center;
    align-self: center;
}

.genre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.genre > div {
    display: flex;
    user-select: none;
    padding: 6px;
    width: 100%;
    justify-content: center;
    border-radius: 8px;
}

button {
    font-family: inherit;
    color: var(--main-font);
    background-color: var(--muted-bg-color);
    border: 2px solid var(--main-accent-color);
    border-radius: 500px;
    padding: 4px 20px 4px 20px;
}

button:hover {
    background-color: var(--muted-accent-color);
    transition: 0.3s;
}

button:active {
    background-color: aliceblue;
    transition: 0.1s;
}

.justwatch, .react {
    display: flex;
    gap: 2px;
}

.github-logo {
    width: 30px;
}


/* --------------------CSS Reset----------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
