@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/static/Oswald-Light.ttf');
}
*{
    box-sizing: border-box;
}

/* * {
    outline-style: dotted;
    outline-color: orange;
} */

html {
    height: 100vh;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    font-family: 'Oswald';
    background-color: #445E93;
}

.header {
    display: flex;
    justify-content: space-between;
    grid-column-start: span 3;
    height: 60px;
}

.header-logo {
    display: flex;
}

.header-logo > h1 {
    align-self: center;
}

.main-logo {
    height: auto;
    width: 50px;
}

.form {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 8fr 1fr;
    gap: 40px;
    width: max(500px, 40%);
    justify-self: center;
}

.movie-card {
    background-color: #7EB2DD;
    padding: 6px;
    grid-column-start: 2;
    justify-self: center;
    width: max(500px, 40%);
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 8px black;
}

.form-card {
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 1px solid black;
    border-top: none;
    border-radius: 8px;
    box-shadow: 2px 10px 15px black;
}

.tabs-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 8px;
    border-top: 1px solid black;
}

.tab {
    display: flex;
    justify-content: center;
    padding: 8px;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-weight: bolder;
}

.tab:hover:not(.active-tab) {
    color: #cc3f0c;
}

.genres-tab {
    border-right: 1px solid black;
    border-radius: 8px 0px 0px 0px;
}

.rating-popularity-tab{
    border-left: 1px solid black;
    border-radius: 0px 8px 0px 0px;
}

.active-tab {
    background-color: #7EB2DD;
    border-bottom: none;
    color: #cc3f0c;
}

.tabs-body{
    background-color: #7EB2DD;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
}

.tab-title{
    align-self: center;
    font-size: 20px;
}

.genre-tab-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px 20px 10px 20px;
    gap: 10px;
}

.genre-checkboxes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    min-height: 175px;
    border: 2px solid black;
    padding: 8px 2px 8px 2px;
    border-radius: 8px;
    background-color: #445E93;
}

.toggle-btns {
    align-self: flex-end;
}

.genre-checkboxes-container > div {
    display: flex;
    align-self: center;
    user-select: none;
    padding: 6px;
}

.unchecked:hover {
    color: #cc3f0c;
}

.services {
    display: flex;
}

.streamer-logo {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

.provider-tab-container {
}

.provider-checkboxes-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.provider-selection {
    display: flex;
    flex-direction: column;
}

.provider-image {
    height: 50px;
    width: 50px;
}

.movie-card-header {
    display: flex;
    justify-content: space-between;
}

.poster-description-container {
    display: flex;
}

.movie-card-top-panel {
    display: flex;
}

.movie-card-top-panel > img {
    height: 200px;
    width: 150px;
    align-self: center;
    border: 1px solid black;
}

.movie-card-top-and-middle  {
    border-bottom: 1px solid black;
    padding: 6px;
}
.movie-card-middle-panel {
    display: flex;
    justify-content: space-between;
}

.movie-card-bottom-panel {
    padding: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-rating-description {
    padding: 6px;
}

.title-rating {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
}

.movie-card-rating {
    display: flex;
    align-items: flex-end;
}

.movie-title {
    font-weight: bolder;
    font-size: larger;
}

.movie-description {
    padding: 6px;
}

.movie-panel-right {
    display: flex;
    gap: 3px;
    align-items: flex-end;
}

.movie-info {
    padding-top: 3px;
}

.streaming-services {
    display: flex;
}

.movie-subscription-services, .movie-rental-services {
    display: flex;
    align-items: center;
    gap: 6px;
}

.movie-card-bottom-panel > div > ul {
    display: flex;
    justify-content: center;
    gap: 3px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    grid-column-start: span 3;
    height: 60px;
}

.footer > * {
    display: flex;
    align-items: center;
    justify-content: center;
}


.checked {
    background-color: #cc3f0c;
    outline: 1px solid black;
    border-radius: 8px;
}

/* --------------------CSS Reset----------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
